{% extends 'base.html' %}
{% block title %}History{% endblock title %}

{% block body %}
{{ super() }}

<div class="container">
<table class="table">
    <thead>
        <tr>
            <th>姓名</th>
            <th>答對率</th>
            <th>第一次測試</th>
            <th>第二次測試</th>
            <th>第三次測試</th>
            <th>第四次測試</th>
            <th>第五次測試</th>
            <th>答錯所花時間</th>
            <th>答對所花時間</th>
            <th>總測驗時間</th>
            <th>測驗日期</th>
        </tr>
    </thead>
    <tbody>
       {% for row in history_fetch %}
        <tr>
            <td>{{ row.0  }}</td>
            <td>{{ row.1  }}</td>
            <td>{{ row.2  }}</td>
            <td>{{ row.3  }}</td>
            <td>{{ row.4  }}</td>
            <td>{{ row.5  }}</td>
            <td>{{ row.6  }}</td>
            <td>{{ row.7  }}</td>
            <td>{{ row.8  }}</td>
            <td>{{ row.9  }}</td>
            <td>{{ row.10  }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}

